@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --primary-color: #245fff; /* Gold */
  --secondary-color: #222;   /* Dark Gray/Black */
  --text-color: #727272;
  --bg-color: #f9f9f9;
  --white: #ffffff;
  --text-hover: #ffd000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
.header {
  background-color: black;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 10px 100px 5px rgb(0, 0, 0);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.lightning {
  color: #245fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
  background-image: linear-gradient(90deg, var(--primary-color) 20%, var(--text-hover) 60% );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  gap: 20px;
}

.nav a {
  text-decoration: none;
  padding: 5px 10px;
  color: var(--text-color);
  font-weight: 500;
  transition: color 0.3s;
}

.nav a:hover {
  color: var(--text-hover);
}

.menu-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #ffd000;
  transition: color 0.5s;
}

.menu-toggle:hover {
  color: var(--primary-color);
}



/* Responsive */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }

  .nav a:hover {
  color: var(--text-hover);
  background-color: #f3f3f3;
}

  .nav.open {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }

  .hero h1 {
    font-size: 2rem;
  }
}
